@import url(https://fonts.googleapis.com/css?family=Lato:100,300,900);


#page1 { background: #f2f2f2; }

.wrapper {
  display: table;
  height: 100%; width: 100%;
}

.stage {
  display: table-cell;
  vertical-align: middle;
}

.tabled, .middled {
  text-align: center;
  margin: 0 auto;
}

.thin { font-weight: 300; }
.thick { font-weight: 900; }

.links {
  text-transform: uppercase;
  font-size: 36px;
  color: blue;
  text-decoration: none;
  position: relative;
  display: block;
}

.l {
  font-weight: 100;
  font-size: 35%;
  margin: 1px;
}

[class^="link-2"] {
  display: inline-block;
  margin: 2em
}

/* linktwo */
.link-2 .links:hover {
  color: #5CAAEF;
}

.link-2 .links:before {
  content: '';
  border-bottom: solid 1px #5CAAEF;
  position: absolute;
  bottom: 0; left: 0;
  width: 100%;

  opacity: 0;
}

.link-2 .links:hover:before {
  opacity: 1.0;
}

.link-2 .links, .link-2 .links:before {
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
