
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear nuevas publicaciones</title>
<link rel="shortcut icon" href="/media/favicon.jpg"/>
     <script src="{% static '/js/jquery-3.1.1.min.js' %}"></script>
		<link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
		<link rel="stylesheet"href="{% static '/css/style.css' %}">
		<link rel="stylesheet"href="{% static '/css/style2.css' %}">
<link rel="stylesheet"href="{% static '/css/style3.css' %}">
		<script src="{% static '/js/bootstrap.min.js' %}"></script>
			<link rel="icon" href="media/icon.png" type="image/x-icon" />
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
</head>
<body>
<header>
</header>
<div class="container-fluid" style="padding: 0px">
		<div class="container" style="width: 100%">
         <nav class="navbar navbar-default navbar-fixed-top">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/api/login/">Inicia sesión</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
           <li><a href="/api/newpost/">Agrega y accede a tus publicaciones</a></li>
              <li><a href="/api/home/">Ir a la página para los visitantes</a></li>
              {% if username != None %}
                  <li style="background: transparent"><a style="background: transparent"><form method="POST" action="/api/logout/"><strong>Bienvenido: {{ username }}</strong>{% csrf_token %}
                      <input type="submit" value="Cerrar sesión" class="bg-info"></form></a></li>
              {% endif %}
          </ul>
        </div>
    </nav>
			<h1 class="text-center bg-gray table-bordered text-uppercase"><i>Aquí puedes acceder a todas las publicaciones</i></h1>
 			<hr class="table-bordered">
                <div class="row">
                <div class="text-center col-xs-12 col-sm-12 ">
                <div class="wrapper tabled">
                    <div class="stage table-bordered" id="page1">
                        <div class="middled">
                            {% for post in allposts %}
                            <div class="link-2">
                            <div class="table-bordered">
                            <a class="links" href="/api/rest/posts/{{ post.id }}/addimages/">
                                <span class="thick">{{ post.postTitle }}</span>
                                <p class="l">Administrar comentarios</p>
                            </a>
                                </div>
                                <div class="table-bordered">
                                    <a class="links" href="/api/rest/posts/{{ post.id }}/data/">
                                <span class="thick">Ver datos</span>
                                <p class="l">Editar/Eliminar</p>
                            </a>
                                </div>
                            <br>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                </div>
                </div>
        <hr class="table-bordered">
        <h1 class="text-center bg-gray table-bordered text-uppercase"><i>Aquí puedes crear nuevas publicaciones</i></h1>
        <hr class="table-bordered">
        <form action="/api/rest/posts/" method="POST">
                {% csrf_token %}
        <div class="row">

                <div class="col-md-6">
                    <div class="form-group">

                    {{ formp.postTitle }}

                        </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                    {{ formp.link }}
                        </div>
        </div>
        </div>
            <div class="row">

                <div class="col-md-8">
                    <div class="form-group">
                    {{ formp.postDescription }}
                        </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <br>
                        <input type="submit" class="btn btn-lg btn-primary "   value="Crear">
                    </div>
                </div>
            </div>
            </form>
            </div>
		<p class="text-center">
			<i id="passwordHelpInline" class="text-muted"> Sitio de Administración para el blog de Lee Chess.</i>
		</p>
	</div>
</body>
</html>
