
{% load static %}
<!DOCTYPE html>
<html lang="es">
	<title>Registrate en el blog del canal de Youtube Lee Chess</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<head>
        <link rel="shortcut icon" href="/media/favicon.jpg"/>
		<script src="{% static '/js/jquery-3.1.1.min.js' %}"></script>
		<link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
		<link rel="stylesheet"href="{% static '/css/style2.css' %}">
		<script src="{% static '/js/bootstrap.min.js' %}"></script>
		<link rel="icon" href="images/icon.png" type="image/x-icon" />
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	</head>
	<body>
	<div class="container-fluid" style="padding: 0px">
		<div class="container" style="width: 100%">
            <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://www.youtube.com/channel/UCyDDAGnVUytq0xvdtkDJDiQ">Canal de Youtube</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/api/home/">Página de inicio</a></li>
            <li><a href="/api/about/">Acerca del canal</a></li>
            <li><a href="/api/contact/">Contacto</a></li>
            <li><a href="/api/login/">Inicia sesión o registrate</a></li>
              <li><a href="/api/allposts/">Publicaciones</a></li>
              {% if username != None %}
                  <li style="background: transparent"><a style="background: transparent"><form method="POST" action="/api/logout/"><strong>Bienvenido: {{ username }}</strong>{% csrf_token %}
                      <input type="submit" value="Cerrar sesión" class="bg-info"></form></a></li>
              {% endif %}
          </ul>
        </div>
    </nav>
			<h1 class="text-center " id="title">Blog del canal de Youtube Lee Chess</h1>
			 <p class="text-center">
				<i id="passwordHelpInline" class="text-muted"> Suscribete al canal de youtube <a href="https://www.youtube.com/channel/UCyDDAGnVUytq0xvdtkDJDiQ?sub_confirmation=1">link del canal</a></i>
			</p>
 			<hr>
			<div class="row">
				<div class="col-md-5">
 					<form role="form" method="post">
                        {% csrf_token %}
                        {% if formu.errors %}
    {% for field in formu %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in formu.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
							<h3 class="text-uppercase text-center"> REGISTRATE</h3>
 							<div class="form-group">
                                {{ formu.username}}
							</div>
							<div class="form-group">
								{{ formu.password }}
							</div>
							<div class="form-group">
								{{ formu.password2 }}
							</div>
                            <div class="form-group">
								{{ formu.email }}
							</div>
                            <div class="form-group">
								{{ formu.name }}
							</div>
                            <div class="form-group">
								{{ formu.firstLastName }}
							</div>
                            <div class="form-group">
								{{ formu.secondLastName }}
							</div>
                            <input type="hidden" name="flag" value="{{ "register" }}">
							<label>
								  Al registrarte aceptas todas nuestras políticas de cookies y privacidad.
							</label>
 							<div>
 									  <input type="submit" class="btn btn-lg btn-primary"   value="Registrarse">
 							</div>
					</form>
				</div>
				<div class="col-md-2">
				</div>
				<div class="col-md-5">
                    <h3 class="text-uppercase"> Inicia sesión usando tu cuenta: </h3>
                    <form role="form" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                                {{ form.usuario }}
  </div>
                        <div class=" form-group">
								    {{ form.password }}
                        </div>
                        <div class="text-center">
							<input type="submit" class="btn btn-primary">
						</div>
                        <input type="hidden" name="flag" value="{{ "login" }}">
                    </form>
				</div>
			</div>
		</div>
		<p class="text-center">
			<i id="passwordHelpInline" class="text-muted"> Lee Chess: El canal de ajedrez para todo tipo de ajedrecistas,
            los invito a ver mis videos no se arrepentirán.<br><img class="sma" src="/media/lichess.jpeg"><a href="https://lichess.org/team/equipo-lee-chess-youtube">Únete a nuestro grupo de lichess</a><img class="sma" src="/media/youtube.jpg"><a href="https://www.youtube.com/channel/UCyDDAGnVUytq0xvdtkDJDiQ">Canal de Youtube</a>
            <img class="sma" src="/media/facebook.png"><a href="https://www.facebook.com/profile.php?id=100006842134922">Únete a nuestro grupo de facebook</a></i>
		</p>
	</div>
	</body>
</html>
